/deep/.el-table .cell {
  overflow: scroll;
  text-overflow: unset;
}
/deep/ .el-table,
/deep/ .el-table--border {
  border: 3px solid grey;
}

/deep/ .el-table--border td {
  border-right: 2px solid #ebeef5;
}

.el-table td {
  border-bottom: 2px solid #ebeef5;
}
