template {
  display: flex;
}

.el-table .cell {
  /*overflow: scroll;*/
  /*text-overflow: unset;*/
}
/deep/ .el-main .el-container .el-header{
 }
div.el-col.el-col-12 {
  overflow: hidden;

}
/deep/ .el-head{
  height:auto;
}

.el-table,
.el-table--border {
  /*border: 3px solid grey;*/
  border-radius: 20px;
}

.el-table {
  width: auto;
}

.el-table--border td {
  border-right: 2px solid #ebeef5;
}

.el-table td {
  border-bottom: 2px solid #ebeef5;
}
